.formulario__botao{
	
	border: none;
	background-color: #00B0FF;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 18px;
	height: 57px;
	position: absolute;
	padding: 10px;
	top: 400px;
	transition: 0.4s ease-in-out;
	width: 400px;
}
.formulario__botao:hover{
	background-color: rgb(21, 160, 219);
	cursor: pointer;
	transition: 0.4s ease-in-out;
	
}