.artigo__titulo{
	align-items: center;
	color: #000;
	display: flex;
	font-size: 100px;
	font-style: normal;
	font-weight: bold;
	height: 355px;
	line-height: 105px;
	left: 0px;
	position: absolute;
	top: 7px;
	width: 535px;

}
.artigo__titulo--frase{
	color: #00b0ff;
	font-style: normal;
	left: 0;
	position: absolute;
	top: 275px;
}