.container__titulo{

	color: #000000;
	font-size: 55px;
	font-style: normal;
	font-weight: 800;
	height: 89px;
	margin: 21px;
	text-align: center;
	width: 1325px;
}
.container__titulo--frase{
	color: #00b0ff;
}