.item__list {
	color: #000;
	font-family: 'Montserrat' , sans-serif;
	font-size: 18px;
	font-weight: 600;
	list-style: none;
	margin-right: 30px;
	
}
.item__list--link{
	color: #000;
	cursor: pointer;
	text-decoration: none;
}
.item__list--link:hover{
	border-bottom: 3px solid #00b0ff;
}