.container{
	padding: 80px auto;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}
.container .artigo{
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
}
.container .artigo .artigo__titulo{
	color: #1e1e1e;
	font-size: clamp(3.4375rem, 2.6339rem + 4.0179vw, 6.25rem);
}
.container .artigo .artigo__titulo .artigo__titulo--frase{
	color: #00b0ff;
}
.container .artigo .artigo__descricao{
	line-height: 30px;
	color: #1e1e1edd;
	font-size: 1.2rem;
}
.container__imagem{
	width: 75%;
}
@media (max-width:1000px){
	.container{
		flex-direction: column;
		justify-content: center;
	}
}