*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat' , sans-serif;
}
span{
	color:#00b0ff;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}